body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

p {
  font-size: 16px;
}

button {
  padding: 6px 12px;
  margin-top: 10px;
  cursor: pointer;
}

mark {
  background-color: rgb(7, 231, 235);
}
